.stats {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #b0d0f5;
    color: white;
    text-decoration: none;
  }
  .stats p{
    color: #4A90E2;
    font-weight: 600;
    text-align: center;
  }
  
  .stat h3 {
    color: #4A90E2;
    text-align: center;
  }
  .stat{
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 20%;
    box-shadow: 5px 10px 4px #4A90E2;
    
  }